---
import BaseLayout from "./BaseLayout.astro";
import '../styles/posts.css'

const {frontmatter, hideTitle} = Astro.props;
---

<BaseLayout>
    <article class="post">
        <header class="post__header">
            <p class="post__pubDate">Published on {frontmatter.pubDate}</p>
            {!hideTitle && <h1 class="post__title">{frontmatter.title}</h1>}
            <!-- <p class="post__author">By {frontmatter.author}</p> -->
            <p class="post__description">{frontmatter.description}</p>
        </header>
        {frontmatter.image && <figure class="post__img-wrapper">
            <img
                src={frontmatter.image.url}
                alt={frontmatter.image.altText}
                class="post__img"
            />
            <figcaption class="post__img-attr">
                Source:
                <a href={frontmatter.image.embedUrl}>{frontmatter.image.creator}</a>,
                {frontmatter.image.domain}
            </figcaption>
        </figure>}
        <main class="post__body">
            <slot />
        </main>
        <footer class="post__footer">
            <div class="tags">
                <div class="tags__label">Tags: </div>
                {frontmatter.tags.map((tag : string) => (
                    <a class="tag link--no-underline" href={`/tags/${tag}`}>
                        {tag}
                    </a>
                ))}
            </div>
        </footer>
    </article>
</BaseLayout>